<div class="content-wrapper">
    <div class="content-inner content-inner-beige">
        <div class="page-header page-header-dark-blue">
            <h1><i class="icon-question-sign"></i> About</h1>
        </div>
        <div class="main-content">
            <div class="widget">
                <div class="widget-content-white glossed">
                    <div class="padded">
                        <p>The rules are pretty simple. Kind of like a football board where the last number of the winner's score and the last number of the loser's score will match up to a grid with squares that people can buy.</p>
                        <p>Each game in the tournament can win money but the further along the money grows. So, once the 100 squares are sold (at $10 each) we will put numbers across the top (0-9) for the winning score and numbers along the left side (0-9) for the loser's score.</p>
                        <p>So, in the first round of the tournament when Kansas plays Northern Iowa and NI wins <span class="label label-info">82-67</span> the square that contains the person's name on the top for <span class="label label-info">2</span> and the left for <span class="label label-info">7</span> will win the money for that round which in this case is <span class="label label-info">$5</span>.</p>
                        <p>The purse for each round is as follows:

                        <ul>
                            <li>Play-in games $0</li>
                            <li>1st round $5</li>
                            <li>2nd round $10</li>
                            <li>3rd round $20</li>
                            <li>4th round $40</li>
                            <li>5th round $95</li>
                            <li>6th final game $170</li>
                        </ul>
                        <p>Once you've entered your picks send me a check at:</p>

                        Matt Christianson<br/>
                        10071 170th St W<br/>
                        Lakeville, MN 55044
                        <p>You can also send payment using Square Cash <a href="https://cash.me/$mchristianson">https://cash.me/$mchristianson</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>